<!DOCTYPE html>
<html lang="en" class="bgimg">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        crossorgin="annoymous">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Main Burgers</title>
</head>

<body class="bgimg">
    {{{body}}}
</body>

</html>